.footer {
    padding-top: calc(2 * 16px);
    padding-bottom: calc(2 * 16px);
    background-color: #f8f9fa;
    border-top: 1px solid #dee2e6;
}

.logo {
    max-width: 200px;
}

@media (max-width: 576px) {
    .logo {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.description {
    margin-top: 5px;
}

@media (max-width: 576px) {
    .description {
        margin-top: 8px;
        text-align: center;
    }
}

.inner {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 576px) {
    .inner {
        flex-direction: column;
        align-items: center;
    }
}

.groups {
    display: flex;
    flex-wrap: wrap;
}

@media (max-width: 576px) {
    .groups {
        display: none;
    }
}

.wrapper {
    width: 160px;
}

.link {
    display: block;
    color: #6c757d;
    font-size: 14px;
    padding-top: 3px;
    padding-bottom: 3px;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

.title {
    font-size: 18px;
    font-weight: 700;
    font-family: Arial, sans-serif;
    margin-bottom: 4px;
    color: #000;
}

.afterFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
    border-top: 1px solid #dee2e6;
}

@media (max-width: 576px) {
    .afterFooter {
        flex-direction: column;
    }
}

@media (max-width: 576px) {
    .social {
        margin-top: 8px;
    }
}
